
<!doctype HTML>
<head>
    <title>we text a lot</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>
    <div class=page>
      <h1>Choose </h1>
      {% for table in tables %}
        {{ table|safe }}
      {% endfor %}
    </div>

    <form action='{{ url_for("get_messages") }}' method="POST">
        <!-- Show user which rows they have chosen -->
        <!--hidden input which will note handle ids for back end-->
        <input style="display: none" name="selected_handles">
        <input type="SUBMIT" value="get messages">
    </form>
</body>